$path--rel: "/static";
// FONTS
$fontMain: 'Lato',
sans-serif;
$fontSecond: "Times New Roman",
Times,
italic-bold;
//COLORS
$whiteColor: #fff;
$orangeColor: #f57365;
$blackColor: #000;
$grayColor: #f7f7f7;
$violetColor: #4a3949;